.App {
  text-align: center;
}
h1 {
  margin-bottom: 0;
  padding-bottom: 1em;
  font-size: 1.5em;
}

li {
  list-style-type: none;
}

.shmeddit-logo {
  border-radius: 100em;
  width: 4em;
}
.logo-container {
  width: 100%;
  display: flex;
}

.title-banner {
  background-color: #e78d70;
}

.nav-bar {
  background-color: #6f83c3;
  padding: 1em;
  overflow: auto;
}

.nav-bar a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
}

.navbar a:hover {
  background-color: #000;
}

.articles {
  text-align: left;
  padding: 0;
}
.article-title {
  text-align: center;
}

.article-card {
  margin: 20px;
}
.article-card a {
  text-decoration: none;
}

.article-card-content {
  display: flex;
  flex-direction: column;
}

.single-article-card-content {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.article-body-card {
  text-align: left;
  border-style: solid;
  list-style-type: none;
  border-width: 2px;
  border-color: rgb(48, 48, 48);
  border-radius: 0.3em;
  margin: 2em 2em 2em 2em;
  padding: 1em;
}

.comments-section {
  padding: 0;
}

.comment {
  text-align: left;
  border-style: solid;
  list-style-type: none;
  border-width: 2px;
  border-color: #e78d70;
  border-radius: 0.3em;
  padding-left: none;
  margin-bottom: 1em;
}
.votes {
  text-align: center;
}

.MuiTypography-h6 {
  text-align: center;
  padding-top: 0.5em;
}

.MuiTypography-h5 {
  text-align: center;
  padding-top: 0.5em;
}

.MuiCard-root {
  overflow: hidden;
  margin: 1em;
  text-align: left;
}
