.App {
  text-align: center;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 1em;
  font-size: 1.5em;
}

li {
  list-style-type: none;
}

.shmeddit-logo {
  border-radius: 100em;
  width: 3em;
}
.logo-container {
  width: 100%;
  display: flex;
}

.title-banner {
  background-color: #e78d70;
}

.nav-bar {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.sub-shmeddit-link {
  font-size: 0.5em;
}

.subshmeddit-title {
  margin-top: 1em;
  /* WHY NO WORK?! */
}

.nav-bar a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  width: 33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
}

.navbar a:hover {
  background-color: #000;
}

.articles {
  text-align: left;
  padding: 0;
}
.article-title {
  text-align: center;
  margin-bottom: 1em;
}

.article-card a {
  text-decoration: none;
}

.article-card-content {
  display: flex;
  flex-direction: column;
}

.single-article-card-content {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.query-selectors {
  display: inline-flex;
}
.query-selector {
  margin: 1em;
}

.article-body-card {
  text-align: left;
  border-style: solid;
  list-style-type: none;
  border-width: 2px;
  border-color: rgb(48, 48, 48);
  border-radius: 0.3em;
  margin: 2em 2em 2em 2em;
  padding: 1em;
}

.comments-section {
  padding: 0;
}

.comment {
  text-align: left;
  border-style: solid;
  list-style-type: none;
  border-width: 2px;
  border-color: #e78d70;
  border-radius: 0.3em;
  padding-left: none;
  margin-bottom: 1em;
}
.votes {
  text-align: center;
}

.MuiTypography-h6 {
  text-align: center;
  padding-top: 0.5em;
}

.articles-page {
  background-color: #eaeaea57;
}

.MuiTypography-h5 {
  text-align: center;
  padding-top: 0.5em;
}

.MuiCard-root {
  overflow: hidden;
  margin: 1em;
  text-align: left;
}

.banner {
  padding-left: 0em;
  padding-right: 0em;
}

.comment-poster {
  margin: 1em;
}

.card-content {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .articles {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: min-content auto;
  }
  .App {
    text-align: center;
    margin: 0% 10% 0% 10%;
  }
  .shmeddit-logo {
    border-radius: 100em;
    width: 4em;
  }
}
